<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link
    href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700"
    rel="stylesheet"
    type="text/css"
  />
  {% endif %}

  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="icon" type="image/x-icon" href="favicon.png" />
  <meta name="title" content="Rishikesh Shinde" />
  <meta
          name="description"
          property="og:description"
          key="desc"
          content="Frontend Engineer with 2+ years of experience building performant, accessible, and SEO-friendly web applications using React.js, TypeScript,
                  and SCSS. Skilled in developing reusable UI components, optimizing performance with lazy loading and code splitting, and collaborating with
                  UX and backend teams. Proficient in semantic HTML, WCAG accessibility, SEO best practices, and CI/CD pipelines. Passionate about
                  creating fast, scalable, and maintainable frontend architectures for global platforms."
        />
        <meta
          property="og:image"
          content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
        />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rdshinde.vercel.app/" />
  <meta property="og:title" content="Rishikesh Shinde Resume" />
  <meta property="og:description" content="A resume of Rishikesh Shinde." />
  <meta
    property="og:image"
    content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://rdshinde.vercel.app/" />
  <meta property="twitter:title" content="Rishikesh Shinde Resume" />
  <meta
    property="twitter:description"
    content="A resume of Rishikesh Shinde."
  />
  <meta
    property="twitter:image"
    content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
  />
</head>
