<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link
    href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700"
    rel="stylesheet"
    type="text/css"
  />
  {% endif %}

  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="icon" type="image/x-icon" href="favicon.png" />
  <meta name="title" content="Rishikesh Shinde Resume" />
  <meta
          name="description"
          property="og:description"
          key="desc"
          content="A highly motivated final-year computer engineering student with front-end development experience using ReactJS and NextJS. Detail-oriented and committed to producing clean, efficient code. Fast learner, passionate about staying up-to-date with industry trends. Enthusiastic team player with a strong work ethic and dedication to excellence."
        />
        <meta
          property="og:image"
          content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
        />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rdshinde.vercel.app/" />
  <meta property="og:title" content="Rishikesh Shinde Resume" />
  <meta property="og:description" content="A resume of Rishikesh Shinde." />
  <meta
    property="og:image"
    content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://rdshinde.vercel.app/" />
  <meta property="twitter:title" content="Rishikesh Shinde Resume" />
  <meta
    property="twitter:description"
    content="A resume of Rishikesh Shinde."
  />
  <meta
    property="twitter:image"
    content="https://cdn.sanity.io/images/ltmeza6x/production/c0d9bb9cab619aa36e739a1bc6ba2d9bc2d9c1fa-400x400.jpg"
  />
</head>
